html, body {
	height: 100%;
}

body {
	background: #eeeeee;
	font-family: Times New Roman, serif;
	font-size: 150px;
	text-align: left;
}
div {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 100%;
}



p {
	max-width: 750px;
		font-size: 30px;
}

a {
	text-decoration: underline;
	color: black;
	/*font-style: italic;*/
}
